/* components */
span {
    display: block;
}
i {
    font-size: inherit !important;
}
.calculator button {
    font-size: inherit;
    font-family: inherit;
    padding: 10px;
    cursor: pointer;
}
.calculator i:not(.bold) {
    font-size: 20px;
    font-weight: normal;
}
.calculator .buttons > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.calculator img {
    width: 19px;
}
/* main */
.calculator {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgb(59, 59, 59);
}
.calculator .container {
    background-color: rgb(255, 239, 239);
    font-size: 22px;
    font-family: "Marcellus", serif;;
}
/* display */
.calculator .container .display {
    height: 108px;
    background-color: #c9c9c9;
    position: relative;
    padding: 10px;
}
.calculator .display::after {
    content: '';
    position: absolute;
    bottom: 31px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #8a8a8a;
}
.calculator .display-operations {
    display: flex;
    gap: 1px;
}
.calculator .display .result {
    height: 40px;
    position: absolute;
    bottom: -5px;
    right: 2px;
    padding: 5px;
}
.calculator .display .index {
    width: 1px;
    height: 22px;
    background-color: black;
    margin-top: 2px;
    animation: flutter .7s infinite;
    -webkit-animation: flutter .4s alternate-reverse infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
}
.calculator .display .summitionValue +  .index {
    margin-top: 6px;
}
.calculator .display .index.indexAfterPower {
    height: 13px;
    margin-top: -5px;
}
/* directions */
.calculator .directions {
    grid-template-columns: auto auto;
    margin: 10px;
    gap: 15px;
}
.calculator .directions i {
    font-weight: bold;
}
/* operations */
.calculator .root {
    position: relative;
}
.calculator .root::after{
    content: '\58';
    position: absolute;
    bottom: 17px;
    right: 23px;
    font-size: 13px;
    font-weight: bold;
}
.calculator .root.with-y-number::before {
    content: '\59';
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 11px;
    font-weight: bold;
}
.calculator .tenPower {
    position: relative;
}
.calculator .tenPower::after {
    content: '\58';
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 13px;
    font-weight: bold;
}
.calculator .xPowerY {
    position: relative;
}
.calculator .xPowerY::after {
    content: '\59';
    position: absolute;
    top: 8px;
    right: 19px;
    font-size: 12px;
    font-weight: bold;
}
/* operations in display */
.calculator .xPowerY-display {
    width: 30px;
}
.calculator  .xElement {
    width: 15px;
    height: 21px;
    border: solid 1px;
    margin-top: 3px;
}
.calculator  .yElement {
    width: 11px;
    height: 13px;
    border: solid 1px;
    margin: -4px 7px -4px 2px;
    font-size: 13px;
}
.calculator  .yValue {
    width: 11px;
    height: 13px;
    margin: -4px -2px -4px 3px;
    font-size: 13px;
}
.calculator .display-factorial {
    position: relative;
}
.calculator .display-factorial::after {
    content: '\21';
    position: absolute;
    top: -4px;
    right: -9px;
}
.calculator .display-factorial + .separate ,
.calculator .display-factorial + .index + .separate , 
.calculator .power_1 + .separate ,
.calculator .power_1 + .index + .separate   
{
    width: 10px;
}
.calculator .power_1 {
    position: relative;
}
.calculator .power_1::after {
    content: '-1';
    position: absolute;
    top: -11px;
    right: -13px;
    font-size: 13px;
}
.calculator .display-square-root {
    margin-top: -2px;
    margin-left: -13px;
    margin-right: -6px;
}
.calculator .rootValue:first {
    position: relative;
}
.calculator .rootValue::after 
{
    position: absolute;
    top: 8px;
    left: 16px;
    content: "";
    background-image: url(/src/assets/display-square-root.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 100px;
    background-size: contain;
}
.calculator .power.down {
    margin: 28px 1px -10px 0px ; 
}
.calculator .display .index.logBase {
    height: 13px;
    margin-top: 28px;
}
.calculator .summition-display-img {
    margin-top: 8px;
    width: 23px;
    position: relative;
}
.calculator .summitionValue {
    margin-left: -10px;
    margin-top: 7px;
}
.calculator .display .power.summition-top {
    margin-top: -7px;
    margin-right: -21px;
    margin-left: 4px;
}
.calculator .display .power.summition-down {
    margin: 30px 3px -24px 0px;
    position: relative;
}
.calculator  .power.summition-down::after {
    content: 'x=';
    position: absolute;
    bottom: -4px;
    left: -20px;
    font-size: 14px;
}
/* delete */
.calculator .deleteOne {
    grid-column: 4 / 6;
}
/* animations */
@keyframes flutter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}