/* components */
span {
    display: block;
}
i {
    font-size: inherit !important;
}
.calculator button {
    font-size: inherit;
    font-family: inherit;
    padding: 10px;
    cursor: pointer;
    color: #2a3122;
}
.calculator i:not(.bold) {
    font-size: 20px;
    font-weight: normal;
}
.calculator .buttons > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.calculator img {
    width: 19px;
}
/* main */
.calculator {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url(https://images.pexels.com/photos/147411/italy-mountains-dawn-daybreak-147411.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
}
.calculator::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 41%);
}
.calculator .container {
    background-color: rgb(255 239 239 / 45%);
    font-size: 22px;
    font-family: "Marcellus", serif;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(6px);
    border: solid;
    border-radius: 9px;
}
/* display */
.calculator .container .display {
    height: 108px;
    background-color: #93939300;
    position: relative;
    padding: 10px;
}
.calculator .display::after {
    content: '';
    position: absolute;
    bottom: 31px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #8a8a8a;
}
.calculator .display-operations {
    display: flex;
    gap: 1px;
}
.calculator .display .result {
    height: 40px;
    position: absolute;
    bottom: -5px;
    right: 2px;
    padding: 5px;
}
.calculator .display .index {
    width: 1px;
    height: 22px;
    background-color: black;
    margin-top: 2px;
    animation: flutter .7s infinite;
    -webkit-animation: flutter .4s alternate-reverse infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
}
.calculator .display .summitionValue +  .index {
    margin-top: 6px;
}
.calculator .display .index.indexAfterPower {
    height: 13px;
    margin-top: -5px;
}
/* directions */
.calculator .directions {
    display: grid;
    grid-template-columns: auto auto !important;
    margin: 10px;
    gap: 15px;
}
.calculator .directions button , .calculator .equal{
    background-color: #061c17;
    color: white;
    border: none;
}
.calculator .directions i {
    font-weight: bold;
}
/* operations */
.calculator .operations button:not(.equal) , .calculator .operation , .calculator .bracket {
    background-color: #09282400;
    border:solid 1px #4b5044;
}
.calculator .root {
    position: relative;
}
.calculator .root::after{
    content: '\58';
    position: absolute;
    bottom: 17px;
    right: 23px;
    font-size: 13px;
    font-weight: bold;
}
.calculator .root.with-y-number::before {
    content: '\59';
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 11px;
    font-weight: bold;
}
.calculator .tenPower {
    position: relative;
}
.calculator .tenPower::after {
    content: '\58';
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 13px;
    font-weight: bold;
}
.calculator .xPowerY {
    position: relative;
}
.calculator .xPowerY::after {
    content: '\59';
    position: absolute;
    top: 8px;
    right: 19px;
    font-size: 12px;
    font-weight: bold;
}
/* operations in display */
.calculator .xPowerY-display {
    width: 30px;
}
.calculator  .xElement {
    width: 15px;
    height: 21px;
    border: solid 1px;
    margin-top: 3px;
}
.calculator  .yElement {
    width: 11px;
    height: 13px;
    border: solid 1px;
    margin: -4px 2px -4px 2px;
    font-size: 13px;
}
.calculator  .yValue {
    width: 11px;
    height: 13px;
    margin: -4px -2px -4px 3px;
    font-size: 13px;
}
.calculator .factorialEle {
    position: relative;
}
.calculator .factorialEle::after {
    content: '\21';
    position: absolute;
    top: -4px;
    right: -9px;
}
.calculator .factorialEle + .separate ,
.calculator .factorialEle + .index + .separate , 
.calculator .xPowerNOne + .separate ,
.calculator .xPowerNOne + .index + .separate   
{
    width: 10px;
}
.calculator .xPowerNOne {
    position: relative;
}
.calculator .xPowerNOne::after {
    content: '-1';
    position: absolute;
    top: -11px;
    right: -13px;
    font-size: 13px;
}
.calculator .xElement.anonymousR , .calculator .xValue.anonymousR , .calculator .rootValue { 
    position: relative;
}
.calculator .firstRootEle , .calculator .xElement.anonymousR , .calculator .xElement.rootValue  {
    margin-left: 12px;
}
.calculator .xValue.anonymousR:not(.firstRootEle  )::after , .calculator .xValue.rootValue:not(.firstRootEle )::after  {
    content: '';
    position: absolute;
    top: -5px;
    left: -4px;
    width: 150%;
    height: 2px;
    background-color: black;
}
.calculator .firstRootEle::after , .calculator .xElement.anonymousR::after , .calculator .xElement.rootValue::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 120%;
    height: 27px;
    border-top: solid 2px black;
    border-left: solid 2px black;
    background-color: transparent;
}
.calculator .xElement.anonymousR::before , .calculator .firstRootEle::before , .calculator .xElement.rootValue::before {
    content: '';
    position: absolute;
    top: 14px;
    left: -8px;
    width: 2px;
    height: 10px;
    background-color: black;
    rotate: -30deg;
}
.calculator .power.logEle {
    margin: 28px 1px -10px 0px ; 
}
.calculator .display .index.logBase {
    height: 13px;
    margin-top: 28px;
}

/* anonymous root */
.calculator .power.anonymousR {
    margin-right: -6px;
}
.calculator .power.anonymousR + .index {
    margin-left: 6px;
    margin-right: -6px;
}
/* delete */
.calculator .deleteOne {
    grid-column: 4 / 6;
    background-color: #061c17;
    border: solid 1px black ;
    color: white;
}
/* numbers */
.calculator .numbers button:not(.operation , .bracket , .deleteOne ){
    background-color: #09282400;
    color: white;
    border: solid 1px black;
}
/* animations */
@keyframes flutter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
button * {
    pointer-events: none
}